<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Webpac-Angular TEST</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <base href="/" />

    <link rel="stylesheet" href="~/dist/vendors.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/app.bundle.css" asp-append-version="true" />
</head>
<body class="">
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
