@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<button class="btn-outline-danger">Hoi from Webpack</button>

@section scripts {
    <script src="~/dist/polyfills.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/vendors.chunk.js" asp-append-version="true"></script>
    <script src="~/flexmonster/flexmonster.js"></script>
    <script src="~/dist/app.bundle.js" asp-append-version="true"></script>
}